@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");

:root{
    --cor-de-fundo: #041f33;
    --cor-do-cabecalho: #37383b;
    --white: #FFFF;
    --yelow: #ffe600;
    --red:#a80000;
    --fonte-principal: "poppins";
    --black: #000000;
    --fonte-secundaria: "josefin sans";
    --blue-1: #05059c;
    --gray: #858282;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}